.Score {
  color: white;
  font-weight: bold;
  font-size: 20px;
}

.container {
  padding: 5px 0;
  position: relative;
  top: 50px;
}

@media (min-width: 600px) {
  .container {
    top: 5px;
  }
}
