.GameController {
  width: 50%;
  background-color: transparent;
  display: inline-block;
  flex-flow: row;
  text-align: center;
}

@media (min-width: 400px) {
  .GameController {
    display: flex;
  }
}
