.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  width: 50%;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px black;
  border-radius: 5px;
  padding: 25px;
  top: 10%;
  transition: all 0.3s ease-out;
  width: 200px;
}

@media (min-width: 600px) {
  .Modal {
    width: 500px;
  }
}
