.Button {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  width: 100px;
  height: 50px;
}

/* desktop default */
@media (min-width: 600px) {
  .Button:hover {
    background: #434343 !important;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
  }
}

.inactive {
  pointer-events: none;
  cursor: default;
  background: #000000 !important;
}
