.Button {
  text-transform: uppercase;
  /* text-decoration: none; */
  font-weight: bold;
  font-size: 1em;
  padding: 20px 30px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  transition: all 0.4s ease 0s;
  margin-right: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  width: auto;
  box-sizing: border-box;
}

.Button:hover {
  background: #434343 !important;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  box-shadow: 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.4s ease 0s;
}

.inactive {
  pointer-events: none;
  cursor: default;
  background: #000000 !important;
}

@media (min-width: 450px) {
  .Button {
    width: inherit;
  }
}
